In [2]:
import numpy as np 
import pandas as pd

In [3]:
t = (1,2,3,4)
t[1:3]

(2, 3)

In [4]:
dictionary = {"name":["ali","veli","zübeyde","ahmet","kubra","can"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}
dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [5]:
df = pd.read_csv("./data.csv")
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [6]:
head = dataframe1.head() 
print(head)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN

In [7]:
tail = dataframe1.tail()
print(tail)

      name   age     note
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [8]:
print(dataframe1.columns)

Index(['name', 'age', 'note'], dtype='object')

In [9]:
print(dataframe1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   note    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 276.0+ bytes
None

In [10]:
print(dataframe1.dtypes)

name     object
age     float64
note    float64
dtype: object

In [11]:
print(dataframe1.describe())

             age         note
count   5.000000      5.00000
mean   38.400000  17680.00000
std    28.684491  39116.96814
min    12.000000     78.00000
25%    12.000000     89.00000
50%    34.000000    123.00000
75%    56.000000    456.00000
max    78.000000  87654.00000

In [12]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])            
dataframe1["new_future"] = [1,2,3,4,5,6] 
print(dataframe1.loc[:3,"age"])
print(dataframe1.loc[:3, "name":"note"])
print(dataframe1.loc[::-1])

0        ali
1       veli
2    zübeyde
3      ahmet
4      kubra
5        can
Name: name, dtype: object
0    12.0
1    34.0
2    56.0
3    78.0
4     NaN
5    12.0
Name: age, dtype: float64
0    12.0
1    34.0
2    56.0
3    78.0
Name: age, dtype: float64
      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
      name   age     note  new_future
5      can  12.0     89.0           6
4    kubra   NaN      NaN           5
3    ahmet  78.0  87654.0           4
2  zübeyde  56.0     78.0           3
1     veli  34.0    456.0           2
0      ali  12.0    123.0           1

In [13]:
print(dataframe1.loc[:, "new_feature"])

KeyError: 'new_feature'

In [ ]:
print(dataframe1.loc[:3, ["name","note"]])

In [ ]:
print(dataframe1.loc[:,:"age"])

In [ ]:
print(dataframe1.iloc[:,[2]])

In [ ]:
filtre1 = dataframe1.age>10
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])

In [ ]:
type(filtre1)

In [ ]:
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

In [ ]:
filtre2 = dataframe1.note>100
filtrelenmis_data2 = dataframe1[filtre2&filtre1] 
print(filtrelenmis_data2)

In [ ]:
dataframe1[dataframe1.age>20]

In [ ]:
mean1 = dataframe1.note.mean()
print(mean1)
mean_np= np.mean(dataframe1.note) 
print(mean_np)

In [ ]:
dataframe1.dropna(inplace=True) 
dataframe1

In [ ]:
print(dataframe1.note.mean())
dataframe1["mean"]= ["bad" if dataframe1.note.mean()>each else "good" for each in dataframe1.note]
dataframe1

In [ ]:
dataframe1.columns = [each.upper() for each in dataframe1.columns] 

dataframe1.columns

In [ ]:
dataframe1.drop(["NEW_FUTURE"],axis=1,inplace=True)
dataframe1

In [ ]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

In [ ]:
data_contact2 = pd.concat([data1,data2],axis=1)
data_contact2

In [ ]:
dataframe1["new_age"] = [each*2 for each in dataframe1.AGE]
dataframe1