In [3]:
import numpy as np
import pandas as pd
import os

In [9]:
titanic_train = pd.read_csv("C:/Users/peter/Downloads/train_and_test2.csv")      # Read the data

In [10]:
titanic_train.shape      # Check dimensions

(1309, 28)

In [11]:
titanic_train.head(5)  # Check the first 5 rows

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [17]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

Index([], dtype='object')

ValueError: Cannot describe a DataFrame without columns

In [ ]:
titanic_train["Ticket"][0:15]       # Check the first 15 tickets

KeyError: 'Ticket'

In [ ]:
titanic_train["Ticket"].describe()

In [ ]:
del titanic_train["Ticket"]        # Remove Ticket

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],
                           ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class1","Class2","Class3"])     

new_Pclass.describe()

In [ ]:
titanic_train["Pclass"] = new_Pclass

In [ ]:
titanic_train["Cabin"].unique()   # Check unique cabins

In [ ]:
char_cabin = titanic_train["Cabin"].astype(str) # Convert data to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin .describe()

In [ ]:
titanic_train["Cabin"] = new_Cabin

In [ ]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

In [ ]:
titanic_train["Age"].describe()

In [ ]:
missing = np.where(titanic_train["Age"].isnull() == True)
missing

In [ ]:
len(missing[0])

In [ ]:
titanic_train.hist(column='Age',    # Column to plot
                   figsize=(9,6),   # Plot size
                   bins=20)         # Number of histogram bins

In [ ]:
new_age_var = np.where(titanic_train["Age"].isnull(), # Logical check
                       28,                       # Value if check is true
                       titanic_train["Age"])     # Value if check is false

titanic_train["Age"] = new_age_var 

titanic_train["Age"].describe()

In [ ]:
titanic_train.hist(column='Age',    # Column to plot
                   figsize=(9,6),   # Plot size
                   bins=20)         # Number of histogram bins